@model IEnumerable<StudentManagement.Models.Student>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@{
    ViewBag.Title = "Danh_sách_sinh_viên";
}

<h2>Quản Lý Sinh Viên</h2>
@*tim kiem sinh vien*@
<script>
    $(document).ready(function () {
        $("#Search").keyup(function () {
            var search = $("#Search").val();
            $.ajax(
                {
                    url: "/Student/Search",
                    data: { Name: search },
                    success: function (response) {
                        $("p").html("")
                        $("table").html("");
                        $("div#result").html(response);
                    }

                }
            );
        });
        // Nut nay dc click
        $("#SearchBtn").click(function () {
            var search = $("#Search").val();
            $.ajax(
                {
                    url: "/Student/Search",
                    data: { Name: search },
                    success: function (response) {
                        $("p").html("")
                        $("table").html("");
                        $("div#result").html(response);

                    }

                }
            );
        });
    });
</script>
<div>
    <div style="float:left;padding-bottom:10px;">
        @*@Html.TextBox("Search")*@
        <div style="float:left;">
            <input id="Search" type="text" class="form-control" placeholder="Search">
        </div>
        <div style="float:left;">
            <input type="submit" id="SearchBtn" value="Search" class="btn btn-info" />
        </div>
        
        
    </div>
        <div style="float:right;padding-top:10px;">
            <p>
                @Html.ActionLink("Thêm một sinh viên", "Create")
            </p>
        </div>
    </div>
@*<div class="input-group">
    <div>
        <input style="float:left;" id="Search" type="text" class="form-control" placeholder="Search">
    </div>
    <div style="float:left;" class="input-group-btn">
        <button id="SearchBtn" class="btn btn-success" type="submit">Go</button>
    </div>
    <div style="clear:both;"></div>
</div>*@
<div id="result"></div>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.StudentID }) |
                @Html.ActionLink("Thông tin chi tiết", "Details", new { id = item.StudentID }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.StudentID })
            </td>
        </tr>
    }

</table>
