@model IEnumerable<StudentManagement.Models.usp_AspNetUserRoles_GetList>

@*@using StudentManagement.Model*@s
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")

<h2>Danh sách tất cả các  quyền trong hệ thống</h2>
<div>
    <div style="float:left; padding-bottom:10px;">
        <input id="Search" type="text" class="form-control" placeholder="Tìm kiếm quyền" style="border-bottom-right-radius:inherit;border-top-right-radius:inherit;">
    </div>
    <div style="float:left; padding-bottom:10px;">
        <input type="submit" id="SearchBtn" value="Tìm Kiếm" class="btn btn-info" style="border-bottom-left-radius:initial; border-top-left-radius:inherit;" />
    </div>
    <div style="float:right; padding-bottom:10px;">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
            Thêm Phân Quyền
        </button>
    </div>
</div>
<table class="table table-bordered">
    <tbody id="DataSearching">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Name</td>
                    <td><a href="/UserRole/Delete?userId=@item.UserId&roleId=@item.RoleId">Xoa</a></td>
                </tr>
            }
        }
    </tbody>
</table>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Add", "UserRole", FormMethod.Post, new { @class = "modal-form" }))
            {
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thêm một phân quyền</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    @Html.AntiForgeryToken()
                    <div class="form-group" style="display:flex;">
                        <div>

                            @Html.DropDownList("UserId", (IEnumerable<SelectListItem>)ViewBag.userListDb, new { @class = "form-control" })
                        </div>
                        <div>

                            @Html.DropDownList("RoleId", (IEnumerable<SelectListItem>)ViewBag.listRoles, new { @class = "form-control" })
                        </div>

                    </div>
                    
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">Thêm</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
                </div>
            }
            </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#Search").keyup(function () {
            var search = $("#Search").val();
            $.ajax(
                {
                    url: "/UserRole/Search",
                    data: { Name: search },
                    success: function (response) {
                        $("tbody#DataSearching").html("");
                        $(response).each(function (i, e)
                        {
                            var tr = $("<tr/>");
                            $("<td/>").html(e.UserName).appendTo(tr);
                            $("<td/>").html(e.Name).appendTo(tr);
                            @*<a href="/UserRole/Delete?userId=@item.UserId&roleId=@item.RoleId">Xoa</a>*@
                            //'<a href="/viewteam/' + team.id + '">View Team</a>
                            $("<td/>").html('<a href="/UserRole/Delete?userId=e.UserId&roleId=e.RoleId">Xoa</a>').appendTo(tr);
                            tr.appendTo("tbody#DataSearching");
                        });
                    }

                }
            );
        });

       // Nut nay dc click
        $(":button").click(function () {
            var search = $("#Search").val();
            $.ajax(
                {
                    url: "/UserRole/SearchName",
                    data: { Name: search },
                    success: function (response) {
                        $("tbody#DataSearching").html("");
                        $(response).each(function (i, e) {
                            var tr = $("<tr/>");
                            $("<td/>").html(e.UserName).appendTo(tr);
                            $("<td/>").html(e.Name).appendTo(tr);
                            $("<td/>").html('<a href="/UserRole/Delete?userId=e.UserId&roleId=e.RoleId">Xoa</a>').appendTo(tr);
                            tr.appendTo("tbody#DataSearching");
                        });

                    }

                }
            );
        });

    });
</script>